// Colors
$primary-color: #A580FF;
$background-color: #ffffff;
$boder-color: #00000033;

// Fonts
$default-font-size: 16px;

// linear Gradient:
$linear-Gradient: linear-gradient(115deg, #C468FF 0%, #6E91F6);

// Spacing
$marginSmall: 6px;
$marginMedium: 10px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: $default-font-size;
    text-decoration: none;
    color: #000000;
}